* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    width: 500px;
    height: 450px;
}

.hide {
    display: none!important;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.input-group.weatherSearch {
    margin-bottom: 20px;
    box-sizing: border-box;
}

#getGPSlocation {
    margin: 0 auto;
}

.border {
    border: 1px solid black;
    border-radius: 15px;
}

.container.responsive {
    width: 80%;
    height: 70vh;
}

.text-center.title {
    margin-top: 20px;
}
